.proposal {
    padding: 70px 0px 30px 0px;
    &_wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        column-gap: 90px;
    }
    &_img {
        max-width: 272px;
        box-shadow: 6px 8px 8px rgb(37, 36, 36);
        margin-left: 50px;
        &:hover {
            transform: translateY(-8px);
            transition: 0.4s all ease-in;
        }
    }
    &_description-wrapper {
        text-align: center;
    }
    &_line {
        width: 240px;
        margin: 60px auto 0px;
        background: #000000;
    }
}

@media (max-width: 992px) {
    .proposal {
        &_wrapper {
            justify-content: space-between;
            column-gap: 40px;
        }
    }
}

@media (max-width: 768px) {
    .proposal {
        &_wrapper {
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 60px;
        }
        &_img {
            margin-left: 0;
        }
    }
}