.card-filter {
    padding: 30px 0px;
    &_wrapper {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            font-size: 14px;
        }
    }
}

.search-wrapper, .filter {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.filter {
    column-gap: 35px;
    &-block {
        display: flex;
        column-gap: 5px;
    }
    &-btn {
        width: 75px;
        text-align: center;
        font-size: 12px;
        color: #000000;
        box-shadow: 4px 4px 20px rgb(0 0 0 / 25%);
        border-radius: 0;
        &:hover {
            background: #dbbeaa;
            transition: 0.5s all ease-in;
        }
    }
}

.search-input {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    border: none;
    outline: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.activeClazz {
    background: #f1cbb2;
    box-shadow: 1px 2px 3px rgb(28, 29, 28);
    border: none;
    outline: none;
}