.nav {
    column-gap: 40px;
    align-items: end;
    &-link {
        padding: 0;
        font-size: 12px;
        transform: translateY(-4px);
        transition: all 0.3s ease-in-out;
        &:before {
            content: '';
            background: rgb(210, 165, 101);
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.4s ease-in-out;
        }
        &:hover::before {
            width: 100%;
        }
    }
}

.logo-img {
    max-width: 43px;
    max-height: 43px;
}

.logo-link {
    transform: translate(-10px, -4px);
}

@media (max-width: 992px) {
    .nav {
        &-link {
            font-size: 14px;
            transform: translateY(1px);
        }
    }
    .logo-link {
        transform: translate(-10px, -1px);
    }
}

@media (max-width: 768px) {
    .nav {
        justify-content: center;
    }
}