.card {
    padding: 22px 0px 22px 0px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 14px;
    word-wrap: break-word;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.65);
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    &-img {
        margin: 0px auto;
        display: block;
        max-width: 151px;
        border-radius: 0px !important;
    }
    &-country {
        display: flex;
        align-self: end;
        padding-right: 20px;
    }
    &-name, &-price {
        text-align: center;
        color: #000000;
        font-size: 14px;
    }
    &-price {
        margin-bottom: 0px;
        padding-right: 20px;
        text-align: right;
        font-weight: 700;
    }
    &:hover {
        transform: translate(-7px, -4px);
        transition: 0.2s all ease-in-out;
    }
}