@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
    font-family: 'Merienda';
    font-weight: 400;
}

.title {
    text-align: center;
    font-size: 24px;
    &-main {
        line-height: 60px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }
    &-about {
        margin-bottom: 20px;
    }
    &-best {
        text-align: center;
        margin-bottom: 40px;
    }
    &-header {
        margin-bottom: 0;
        font-weight: 700;
        color: #fff;
    }
    &-proposal, &-description {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.description {
    margin-top: 35px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    &-about {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        row-gap: 28px;
        font-size: 14px;
        width: 590px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    &-proposal {
        margin-top: 25px;
        width: 345px;
        font-size: 14px;
    }
}

.desire {
    margin-top: 0;
    margin-bottom: 18px;
}

@media (max-width: 1200px) {
    .desire {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .description {
        &-about {
            width: 90%;
        }
    }
}

@media (max-width: 768px) {
    header .description {
        width: 90%;
        margin: 35px auto 20px;
        line-height: 45px;
    }
    .description {
        &-proposal {
            width: auto;
        }
    }
}